#!/bin/bash
nix profile install github:jetify-com/devbox/0.13.6
# devbox global hash: {{ include "dot_local/share/devbox/global/default/devbox.json" | sha256sum }}
eval "$(devbox global shellenv --preserve-path-stack -r)" && hash -r
