{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
# Brewfile hash: {{ include "dot_config/homebrew/Brewfile" | sha256sum }}
brew bundle --file=~/.config/homebrew/Brewfile
brew bundle cleanup --force --file=~/.config/homebrew/Brewfile

# Set default web browser to Orion
defaultbrowser kagimacos
{{ end -}}
